[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
contractions = "==0.1.73"
fastapi = "==0.112.1"
mangum = "==0.17.0"
mlflow = "==2.15.1"
nltk = "==3.7"
pandas = "==1.5.3"
unidecode = "==1.2.0"
uvicorn = "==0.30.6"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
